# Ambiente virtual
venv/

# Cache do Python
__pycache__/
*.pyc

# Arquivos de banco de dados
*.db

# Arquivos gerados pelo Excel
*.xlsx

# Arquivos de ambiente
.env

# Arquivos do sistema
.DS_Store
Thumbs.db